body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    overflow: hidden;
}
/* p5.js se encarga del canvas, pero esto asegura que el body no tenga márgenes */